[submodule "resources/resourcepack/optional/immersium_resource_pack"]
	path = resources/resourcepack/optional/immersium_resource_pack
	url = https://github.com/steves-underwater-paradise/immersium-resource-pack.git
